.color {
  background-color: #16828c;
  background-color: #e6a722;
  background-color: #25459b;
  secondary-color: #e62c22;
  primary-color: #e67e22;
}

/* Source Sans Pro,Helvetica,Arial,sans-serif; 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet"> */

/* Rubik sans-serif
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    /> */

/*  2007: Helvetica , on the famous typeface of the same name
   2009: Objectified , on industrial design
   2011: Urbanized , on architecture and urban design */
